# Python
__pycache__/
*.pyc

# VSCode
/.vscode/

# cursor
/.cursor/

# Virtual environment
venv/

# Environment variables
.env

# Databases and data
*.db
data/

# OS files
.DS_Store
Thumbs.db 

# Test folder
tests/

# Log folder
logs/

# ignore bash script for auto-update
auto_update.sh
GIT_SETUP_PIOS.md
