# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Databases and data
*.db
data/

# OS files
.DS_Store
Thumbs.db 

# Test folder
tests/

# cursor rule folder
.cursor

# VSCode
.vscode/
